/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.10rem;
  font-family: 'Roboto Condensed', sans-serif;
  background: #101010;
  color: #e5e5e5;
}

img {
  width: 100%;
  display: block;
}

strong {
  font-weight: 700;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}

.link {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 2em;
}

.container-margin {
  margin: 3em 0 0 0;
}

@media (min-width: 600px) {
  .container {
    padding: 3em 5em;
  }

}

@media(min-width: 700px) {
  .container-margin {
    margin: 5em 0 0 0;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 3em 2.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 3em 8em;
  }
}

/* Header */
.header {
  position: fixed;
  width: 100%;
}

.header-content {
  transform: translateY(0);
  padding: 1.5em 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  background: #E5E5E5;
}

.navigation-open {
  transform: translateY(0);
  transition: transform 500ms;
}

.navigation-close {
  transform: translateY(-150%);
  transition: transform 500ms;
}

.logo-container {
  grid-column: 1 / 2;
  align-self: center;
}

.logo {
  font-size: 1.25rem;
  margin: 0;
  color: #7B0100;
}

.nav {
  grid-column: 2 / 4;
  justify-self: center;
  align-self: center;
}

.nav-list {
  list-style: none;
  margin: 0;
}

.form {
  display: flex;
}

.nav-toggler-container {
  display: flex;
  justify-content: flex-end;
}

.nav-toggler {
  position: absolute;
  padding: 0.5em 0.25em 0 0;
  z-index: 100;
  background: none;
  border: none;
  font-size: 2.3rem;
  color: #7B0100;
  outline: 0;
}

.search-input,
.search-btn {
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 25px;
  border-style: none;
  outline: 0;
}

.search-input {
  background: #BBBBBB;
  padding: 8px 40px 8px 10px;
  width: 150px;
  font-size: 0.75rem;
  margin: 0 1.5em 0 0;
}

.search-btn {
  position: absolute;
  margin: 0 0 0 8.5em;
  padding: 8px 15px;
  background: #a62131;
  color: #fff;
  cursor: pointer;
}

.header-lower {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 100%;
}

.header-content-lower {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0;
}

.header-cart {
  display: none;
}

.cart-link {
  font-size: 2.7rem;
  cursor: pointer;
  color: #7B0100;
}

.cart-counter {
  font-size: 1.5rem;
  margin: 0 0 0 0.25em;
}

.navigation-open-lower {
  transform: translateY(-100%);
  transition: transform 500ms;
}

.navigation-close-lower {
  transform: translateY(0);
  transition: transform 500ms;
}

@media(min-width: 425px) {
  .logo {
    font-size: 1.5rem;
  }

  .search-input {
    padding: 8px 80px 8px 10px;
    width: 250px;
    margin: 0;
  }

  .search-btn {
    margin: 0 0 0 15em;
    padding: 8px 20px;
  }

  .nav-toggler {
    padding: 0.48em 0.35em 0 0;
    font-size: 2.4rem;
  }

}

@media (min-width: 600px) {

  .logo {
    font-size: 1.75rem;
    margin: 0 1em 0 0;
  }

  .search-input {
    padding: 12px 80px 12px 10px;
    width: 300px;
  }

  .search-btn {
    margin: 0 0 0 18.3em;
    padding: 12px 22px;
  }

  .nav-toggler {
    padding: 0.55em 0.35em 0 0;
  }

}

@media (min-width: 750px) {

  .logo {
    font-size: 2rem;
    margin: 0 2em 0 0;
  }

  .header-content {
    padding: 1.25em 3em;
  }

  .nav-toggler {
    display: none;
  }

  .navigation-close-lower,
  .navigation-open-lower,
  .navigation-open,
  .navigation-close {
    transform: translateY(0);
    transition: transform 500ms;
  }

  .search-input {
    padding: 12px 80px 12px 10px;
    width: 400px;
  }

  .search-btn {
    margin: 0 0 0 25.8em;
    padding: 12px 22px;
  }

  .header-cart {
    display: block;
    grid-column: 4;
    justify-self: end;
  }

}

/* GameList */
.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
}

/* GameCard */
.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 325px;
  max-height: 325px;
  max-width: 250px;
  margin: auto;
  border: 3px solid #7B0100;
  border-radius: 8px;
  transform: scale(1);
  transition: transform 500ms;
  cursor: pointer;
}

.game-card:hover {
  transform: scale(1.05);
  transition: transform 500ms;
}

.game-card-name {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1em 0 0.75em;
}

.game-card-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0.5em 1em;
}

.game-card-img {
  order: -1;
  object-fit: cover;
  object-position: center;
  max-height: 150px;
  min-height: 150px;
}

.game-card-platform-icon {
  margin: 0 0.2em;
}

/* GameDetail */
.game-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-detail-main-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5em 0;
}

.game-detail-name {
  font-size: 1.4rem;
  margin: 0 0 0.25em 0;
}

.game-detail-publisher {
  font-size: 0.95rem;
  margin: 0;
  opacity: .8;
}

.game-detail-esrb-rating {
  width: 35px;
  height: 50px;
}

.game-detail-form-container {
  margin: 2em 0 0 0;
}

.game-detail-metascore span {
  border-radius: 5px;
  font-weight: 700;
  padding: 0.25em;
  margin: 0 0 0 0.25em;
}

.game-detail-form {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 0 0;
}

.game-detail-platform-label {
  margin: 0 0 0.5em 0;
}

.game-detail-platform {
  padding: 1em;
  border-radius: 5px;
}

.game-detail-price {
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-bottom: 2px solid #AA0000;
  padding: 1em 2em;
}

.game-detail-btn {
  padding: 1em 2em;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.05rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.game-detail-overview {
  margin: 3em 0 0 0;
}

.game-detail-header {
  text-align: center;
}

.game-detail-description {
  line-height: 1.8;
}

@media(min-width: 600px) {

  .game-detail-grid {
    margin: 5em 0 2em 0;
  }

}

@media (min-width: 900px) {

  .game-detail-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 1.5em;
  }

  .game-detail-img {
    grid-column: 1;
    min-width: 400px;
    max-width: 500px;
    margin: auto;
  }

  .game-detail-main-info,
  .game-detail-form,
  .game-detail-form-container {
    margin: 0;
  }

  .game-detail-main-info,
  .game-detail-form-container {
    align-self: center;
    justify-content: center;
    min-width: 400px;
    max-width: 400px;
    grid-column: 2;
    grid-row: 1;
  }

  .game-detail-main-info {
    margin: -0.5em auto auto auto;
  }
  .game-detail-form-container {
    margin: 2.75em auto auto auto;
  }

  .game-detail-main-info {
    align-self: flex-start;
  }

  .game-detail-description {
    margin: 0 auto;
    max-width: 1100px;
  }

}

/* Checkout */
.checkout {
  display: flex;
  flex-direction: column;
}

.checkout-header {
  font-size: 2.5rem;
  margin: 0;
}

/* CheckoutItem */
.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-item-content {
  display: flex;
  align-items: center;
}

.checkout-item-info {
  font-size: 1rem;
  margin: 3.5em 0 0 0.5em;
}

.checkout-item-name {
  font-size: 1.1rem;
}

.checkout-item-img {
  min-width: 175px;
  max-width: 175px;
  object-fit: cover;
  order: -1;
}

.fa-times {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 0 0 2em;
}

@media (min-width: 900px) {
  .checkout {
    justify-content: center;
  }
}
