/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

/* GameList */
.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
}

/* GameCard */
.game-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
}

.game-card-name {
  font-size: 1.25rem;
}

.game-card-info {
  display: flex;
  justify-content: space-between;
}

.game-card-img {
  order: -1;
  object-fit: cover;
  object-position: center;
  max-height: 150px;
  min-height: 150px;
}
