/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.10rem;
  font-family: 'Roboto Condensed', sans-serif;
  background: #101010;
  color: #e5e5e5;
}

img {
  width: 100%;
  display: block;
}

strong {
  font-weight: 700;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}

.link {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 2em;
}

.container-margin {
  margin: 3em 0 0 0;
}

@media (min-width: 600px) {
  .container {
    padding: 3em 5em;
  }

}

@media(min-width: 700px) {
  .container-margin {
    margin: 5em 0 0 0;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 3em 2.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 3em 8em;
  }
}

/* Header */
.header {
  position: fixed;
  width: 100%;
}

.header-content {
  transform: translateY(0);
  padding: 1.5em 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  background: #E5E5E5;
}

.navigation-open {
  transform: translateY(0);
  transition: transform 500ms;
}

.navigation-close {
  transform: translateY(-150%);
  transition: transform 500ms;
}

.logo-container {
  grid-column: 1 / 2;
  align-self: center;
}

.logo {
  font-size: 1.25rem;
  margin: 0;
  color: #7B0100;
}

.nav {
  grid-column: 2 / 4;
  justify-self: center;
  align-self: center;
}

.nav-list {
  list-style: none;
  margin: 0;
}

.form {
  display: flex;
}

.nav-toggler-container {
  display: flex;
  justify-content: flex-end;
}

.nav-toggler {
  position: absolute;
  padding: 0.5em 0.25em 0 0;
  z-index: 100;
  background: none;
  border: none;
  font-size: 2.3rem;
  color: #7B0100;
  outline: 0;
}

.search-input,
.search-btn {
  display: inline;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 25px;
  border-style: none;
  outline: 0;
}

.search-input {
  background: #BBBBBB;
  padding: 8px 40px 8px 10px;
  width: 150px;
  font-size: 0.75rem;
  margin: 0 1.5em 0 0;
}

.search-btn {
  position: absolute;
  margin: 0 0 0 8.5em;
  padding: 8px 15px;
  background: #a62131;
  color: #fff;
  cursor: pointer;
}

.header-lower {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 100%;
}

.header-content-lower {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0;
}

.header-cart {
  display: none;
}

.cart-link {
  font-size: 2.7rem;
  cursor: pointer;
  color: #7B0100;
}

.cart-counter {
  font-size: 1.5rem;
  margin: 0 0 0 0.25em;
}

.navigation-open-lower {
  transform: translateY(-100%);
  transition: transform 500ms;
}

.navigation-close-lower {
  transform: translateY(0);
  transition: transform 500ms;
}

@media(min-width: 425px) {
  .logo {
    font-size: 1.5rem;
  }

  .search-input {
    padding: 8px 80px 8px 10px;
    width: 250px;
    margin: 0;
  }

  .search-btn {
    margin: 0 0 0 15em;
    padding: 8px 20px;
  }

  .nav-toggler {
    padding: 0.48em 0.35em 0 0;
    font-size: 2.4rem;
  }

}

@media (min-width: 600px) {

  .logo {
    font-size: 1.75rem;
    margin: 0 1em 0 0;
  }

  .search-input {
    padding: 12px 80px 12px 10px;
    width: 300px;
  }

  .search-btn {
    margin: 0 0 0 18.3em;
    padding: 12px 22px;
  }

  .nav-toggler {
    padding: 0.55em 0.35em 0 0;
  }

}

@media (min-width: 750px) {

  .logo {
    font-size: 2rem;
    margin: 0 2em 0 0;
  }

  .header-content {
    padding: 1.25em 3em;
  }

  .nav-toggler {
    display: none;
  }

  .navigation-close-lower,
  .navigation-open-lower,
  .navigation-open,
  .navigation-close {
    transform: translateY(0);
    transition: transform 500ms;
  }

  .search-input {
    padding: 12px 80px 12px 10px;
    width: 400px;
  }

  .search-btn {
    margin: 0 0 0 25.8em;
    padding: 12px 22px;
  }

  .header-cart {
    display: block;
    grid-column: 4;
    justify-self: end;
  }

}

/* GameList */
.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
  margin-bottom: -8em;
}

.game-list-header {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 2rem;
  margin: 2em 0 0 0;
}

/* Loading Icon */
.loading-icon-container {
  background: #101010;
  position: fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.loading-icon {
  display: block;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

.loading-icon-bar {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: loading-icon 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-icon .loading-icon-bar:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-icon .loading-icon-bar:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-icon .loading-icon-bar:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loading-icon {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/* GameCard */
.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 325px;
  max-height: 325px;
  min-width: 250px;
  max-width: 250px;
  margin: auto;
  border: 3px solid #7B0100;
  border-radius: 8px;
  transform: scale(1);
  transition: transform 500ms;
  cursor: pointer;
}

.game-card:hover,
.game-card:focus {
  transform: scale(1.05);
  transition: transform 500ms;
}

.game-card-name {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1em 0 0.75em;
}

.game-card-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0.5em 1em;
}

.game-card-img {
  order: -1;
  object-fit: cover;
  object-position: center;
  max-height: 150px;
  min-height: 150px;
}

.game-card-platform-icon {
  margin: 0 0.2em;
}

/* GameDetail */
.game-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-detail-main-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5em 0;
}

.btn-back {
  font-size: 2.5rem;
  margin: 0 0 0.75em 0;
  cursor: pointer;
}

.game-detail-name {
  font-size: 1.4rem;
  margin: 0 0 0.25em 0;
}

.game-detail-publisher {
  font-size: 0.95rem;
  margin: 0;
  opacity: .8;
}

.game-detail-esrb-rating {
  width: 35px;
  height: 50px;
}

.game-detail-form-container {
  margin: 2em 0 0 0;
}

.game-detail-metascore span {
  border-radius: 5px;
  font-weight: 700;
  padding: 0.25em;
  margin: 0 0 0 0.25em;
}

.game-detail-form {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 0 0;
}

.game-detail-platform-label {
  margin: 0 0 0.5em 0;
}

.game-detail-platform {
  padding: 1em;
  border-radius: 5px;
}

.game-detail-price {
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-bottom: 2px solid #AA0000;
  padding: 1em 2em;
}

.game-detail-btn {
  padding: 1em 2em;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.05rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.game-detail-overview-container {
  margin: 3em 0 0 0;
  max-width: 1500px;
}

.game-detail-overview-header,
.game-detail-screenshots-header {
  text-align: center;
}

.game-detail-overview-description {
  line-height: 1.8;
}

.game-detail-screenshots-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.75em;
}

@media(min-width: 600px) {

  .game-detail-grid {
    margin: 5em 0 2em 0;
  }

}

@media (min-width: 900px) {

  .game-detail-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 1.5em;
  }

  .btn-back {
    grid-column: 1;
    grid-row: 1;
    color: #e5e5e5;
    font-size: 2.75rem;
    margin: 0;
    justify-self: flex-start;
  }

  .game-detail-img {
    grid-column: 1;
    min-width: 400px;
    max-width: 500px;
    margin: auto;
  }

  .game-detail-main-info,
  .game-detail-form,
  .game-detail-form-container {
    margin: 0;
  }

  .game-detail-main-info,
  .game-detail-form-container {
    align-self: center;
    justify-content: center;
    min-width: 400px;
    max-width: 400px;
    grid-column: 2;
    grid-row: 2;
  }

  .game-detail-main-info {
    margin: -0.5em auto auto auto;
  }
  .game-detail-form-container {
    margin: 2.75em auto auto auto;
  }

  .game-detail-main-info {
    align-self: flex-start;
  }

  .game-detail-description {
    margin: 0 auto;
    max-width: 1100px;
  }

}

/* Cart */
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header {
  font-size: 2.5rem;
  margin: 0;
}

.cart-empty {
  display: flex;
  flex-direction: column;
}

.cart-empty-cart {
  font-size: 1.5rem;
}

.btn {
  color: #e5e5e5;
  border: 1px solid #101010;
  border-radius: 5px;
  background: #7B0100;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
}

.btn:hover,
.btn:focus {
  transform: scale(1.02);
  transition: transform 250ms;
}

.btn-empty-cart {
  margin: 0 auto;
}

/* CartItem */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2em 0;
}

.cart-item-content {
  display: flex;
}

.cart-item-info {
  font-size: 1rem;
  margin: 0 0 0 0.5em;
}

.cart-item-name {
  font-size: 1.1rem;
  margin: 0;
}

.cart-item-img {
  min-width: 175px;
  max-width: 175px;
  max-height: 100px;
  min-height: 100px;
  object-fit: cover;
  order: -1;
}

.cart-item-main-info * {
  margin: 0.5em 0;
}

@media (max-width: 425px) {
  .cart-item-img {
    min-width: 130px;
    max-width: 130px;
  }
}

@media (min-width: 900px) {
  .cart-item {
    margin: 3em 0 0 0;
  }

  .cart-item-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1em;
  }

  .cart-item-main-info {
    display: flex;
    margin: 0;
  }

  .cart-item-main-info * {
    margin: 0 0 0 1.5em;
  }

  .cart-item-main-info p:first-of-type {
    margin: 0;
  }

  .fa-times {
    margin: 0 0 0 5em;
  }

}

/*Checkout*/
.shipping-form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  margin: 0 0 2em 0;
}

.credit-card-form-input-container,
.shipping-form-input-container {
  border: 1px solid rgba(255, 255, 255, .5);
  padding: 0.5em;
  border-radius: 2px;
}

.shipping-form-input-container {
  display: flex;
  flex-direction: column;
}

.shipping-form-input-label {
  font-size: 1.05rem;
}

.credit-card-form-input,
.shipping-form-input {
  background: none;
  border: none;
  color: #FFF;
}

.shipping-form-input:hover,
.shipping-form-input:focus,
.credit-card-form-input:hover,
.credit-card-form-input:focus {
  outline: none;
}

.shipping-form-btn {
  grid-column: 4 / 5;
}

.post-form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.5em 0;
}

.post-submit-info {
  font-size: 1rem;
  margin: 0 0 0.75em 0;
}

.post-form-submit-btn {
  font-size: 1.05rem;
  padding: 2em;
  background: none;
  text-decoration: underline;
}

.credit-card-form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
}

.credit-card-form-header {
  margin: 1em 0 0 0;
}

.card-number {
  grid-column: 1 / -1;
}

.card-expiry {
  grid-column: 1 / 2;
}

.card-cvv {
  grid-column: 2 / 4;
}

.credit-card-form-btn {
  grid-column: 3 / 4;
}

.checkout-details {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1em;
  margin: 1em 0 0 0;
}

.checkout-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.checkout-detail-label {
  font-size: 1.25rem;
}

.checkout-subtotal,
.checkout-total {
  font-weight: bold;
}

.checkout-total {
  font-size: 1.3rem;
}

.checkout-btn {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.75em 0;
}

.disabled-btn {
  background-color: rgba(121, 1, 0, 0.2);
}

.disabled-btn:hover,
.disabled-btn:focus {
  cursor: auto;
  transform: scale(1);
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #555, #ccc);
  margin: 0 0 1.5em 0;
}

.checkout-cart-header {
  display: flex;
  justify-content: space-between;
}

.checkout-cart-image {
  max-width: 80px;
  height: 60px;
  display: inline;
  margin: 0.25em;
}

.checkout-cart-item {
  display: flex;
  justify-content: space-between;
}

.checkout-cart-item-main {
  display: flex;
  align-items: center;
}

.checkout-cart-item-details {
  font-size: 1rem;
  margin: 0 0 0 1em;
}

.hidden-checkout {
  display: none;
}

@media (min-width: 550px) {

  .shipping-form-input-container {
    grid-column: 1 / 3;
  }

  .first-name {
    grid-column: 1 / 2;
  }

  .last-name {
    grid-column: 2 / 3;
  }

}

@media (min-width: 1025px) {

  .checkout-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .checkout-inputs {
    grid-column: 1 / 3;
  }

  .checkout-details {
    grid-column: 3 / 4;
  }

  .first-name {
    grid-column: 1 / 3;
  }

  .last-name {
    grid-column: 3 / 5;
  }

  .address {
    grid-column: 1 / 5;
  }

  .zip-code {
    grid-column: 1 / 2;
  }

  .city {
    grid-column: 2 / 3;
  }

  .state {
    grid-column: 3 / 5;
  }

  .email {
    grid-column: 1 / 3;
  }

  .phone-number {
    grid-column: 3 / 5;
  }

  .card-number {
    grid-column: 1 / 2;
  }

  .card-expiry,
  .card-cvv {
    grid-column: auto;
  }

}

/* Order Confirmation */
.order-confirmation {
  min-height: 100vh;
  min-width: 100%
}

.order-confirmation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 600px;
}

.order-confirmation-header {
  font-size: 2.75rem;
}

.fa-check-circle {
  font-size: 10rem;
}

.order-confirmation-subtitle {
  font-size: 1.5rem;
}

.order-confirmation-redirect {
  font-size: 1.25rem;
}

/* Search */
.search-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0 0 0;
  margin: 0 10em;
  margin-bottom: -150px;
}

.search-value {
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 1.5rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-form-btn {
  margin: 1em 0 0 0;
}

.search-game-list {
  margin: 0 0 10em 0;
}

.change-page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em 0;
  margin-bottom: -100px;
}

.change-page-btn {
  max-width: 150px;
  min-width: 150px;
  margin: 0 0.5em;
}

@media (min-width:900px) {

  .search-form-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-form {
    margin: 0 0 0 10em;
  }

}

/* Footer */
.footer {
  background: #B5B5B5;
  padding: 2em;
  margin: 8em 0 0 0;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.9);
}

.footer-logo {
  font-size: 1.75rem;
}

.footer-nav-list {
  margin: 1.25em 0 0 0;
}

.footer-nav-list,
.api-contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-nav-item {
  margin: 0 0.5em 0 0;
  font-weight: 700;
  font-size: 1.05rem;
  padding: 0;
  cursor: pointer;
}

.footer-info {
  margin: 2em 0 0 0;
}

.footer-info-link {
  text-decoration: none;
  margin: 0 0 0 0.8em;
}

.footer-info-link,
.footer-info-link:visited,
.api-contact-link,
.api-contact-link:visited {
  color: inherit;
}

.footer-info-item span {
  margin: 0 0 0 0.8em;
}

.api-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.api-logo-container {
  display: flex;
  align-items: center;
}

.api-info-subtitle {
  margin: 0 1em 0 0;
}

.api-logo {
  width: 100px;
  height: 50px;
}

.api-contact {
  align-self: flex-end;
}

.api-contact-list {
  margin: 1em 0 0 0;
}

.api-contact-item {
  font-size: 1.5rem;
  margin: 0 1em 0 0;
}

.api-contact-item:last-of-type {
  margin: 0;
}

@media (min-width: 700px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .api-info {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .api-logo-container {
    flex-direction: column;
  }

  .api-info-subtitle {
    margin: 0 0 0.75em 0;
  }

}

@media (min-width: 850px) {
  .footer {
    padding: 2.5em 6em;
  }
}

/* Modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #fff;
  color: #000;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-item-container {
  max-width: 400px;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
}

.modal-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-item-detail-top {
  margin: 0 0 1.25em 0;
}

.modal-item-header {
  margin: 0;
}

.modal-item-subtitle {
  font-size: 1rem;
}

.modal-item-product {
  display: flex;
  margin: 0 0 1.25em 0;
}

.modal-item-name {
  margin: 0 0 0 1em;
  font-weight: bold;
}

.modal-item-img {
  width: 125px;
  order: -1;
}

.modal-item-btns {
  display: flex;
  margin: 0 0 0 auto;
}

.modal-item-detail-btns {
  flex-direction: column;
  margin: 0;
}

.btn-cancel {
  margin: 0 0.75em 0 0;
  background: #101010;
}

.btn-keep-shopping {
  color: rgba(0, 0, 0, .9);
  background: none;
  text-decoration: underline;
  border: none;
}

.fa-times {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 0 0 2em;
}

.fa-check {
  color: #0E8658;
  margin: 0 0.25em 0 0;
}
